.calendar-body__wrapper {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  margin-top: 10px;
}

[class*='day'] {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
}

.weekday {
  font-size: .9em;
  font-weight: bold;
}

.emptyday {
  background-color: transparent;
}

.day {
  border: 1px solid #dee0e4;
  color: #dee0e4;
  cursor: pointer;
  transition: .1s;
}

.day:hover {
  color: #fff;
  background-color: #dee0e4;
}
