.booking-body__wrapper {
  padding-top: 20px;
  position: relative;
}

.booking-body__header {
  font-weight: 700;
  font-size: .9em;
  margin-bottom: 5px;
}

.booking-body__arrow {
  font-size: 1.2em;
  padding: 0 20px;
  vertical-align: top;
}

.booking-body__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #dee0e4;
  border-radius: 4px;
  padding: 10px;
}

[class*="booking-body__inputs--check-"] {
  border: transparent;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  font-size: 1.2em;
  text-align: center;
}

[class*="booking-body__inputs--check-"]:focus {
  background-color: paleturquoise;
}
