.calendar-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[class*='btn--'] {
  color: darkgrey;
  font-size: 1.5em;
  padding: 2px 10px;
  background: transparent;
  border: 1px solid #dee0e4;
  border-radius: 4px;
  cursor: pointer;
}

.calendar-nav__date {
  font-weight: bold;
  font-size: 1.4em;
}
