.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, #16222A, #3A6073);
}

.container {
  width: 400px;
  height: 600px;
  border: 2px solid #f3f3f3;
  border-radius: 3px;
}
